body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h1 span {
    color: royalblue;
}

.left {
    width: 40%;
    float: left;
    margin-left: 5%;
    letter-spacing: 0.1em;
}

.right {
    margin-top: 2%;
    width: 40%;
    float: right;
}

img {
    width: 350px;
    border-radius: 7%;
}

.first-section {
    background: url('images/top-banner.png');
    height: 500px;
    background-repeat: no-repeat;
}

.button {
    text-decoration: none;
    background-color: royalblue;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.button:hover {
    background-color: #fff;
    color: royalblue;
    border: 1px solid royalblue;
}

.button-gray {
    text-decoration: none;
    background-color: gray;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.button-gray:hover {
    background-color: #fff;
    color: gray;
    border: 1px solid gray;
}

.second-section {
    height: 500px;
    margin-top: 10%;
}

.second-left {
    width: 40%;
    float: left;
    margin-left: 10%;
}

.second-right {
    width: 40%;
    float: right;
    margin-right: 10%;
}

.second-right h1 {
    margin-left: 25%;
}

.experience-section {
    height: 500px;
    margin-top: 10%;
}

.experience-section .left {
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-left: 5px solid;
    border-image: linear-gradient(90deg, rgba(29,174,212,1) 38%, rgba(42,99,171,1) 76%);
    border-image-slice: 1;
}

.experience-section .right {
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid;
    border-image: linear-gradient(90deg, rgba(29,174,212,1) 38%, rgba(42,99,171,1) 76%);
    border-image-slice: 1;
    margin-top: 0;
    margin-right: 5%;
    padding: 20px;
    height: 85%;
}

.button-green-inverse {
    background-color: #fff;
    color: #2ECC71;
    border: 1px solid #2ECC71;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-green-inverse:hover {
    background-color: #2ECC71;
    color: #fff;
}

.button-purple-inverse {
    background-color: #fff;
    color: #154360;
    border: 1px solid #154360;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-purple-inverse:hover {
    background-color: #154360;
    color: #fff;
}

footer p {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: royalblue;
}