body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h1 span {
    color: royalblue;
}

.left {
    width: 40%;
    float: left;
    margin-left: 5%;
}

.right {
    margin-top: 2%;
    width: 40%;
    float: right;
}

img {
    width: 350px;
    border-radius: 7%;
}

.first-section {
    background: url('images/top-banner.png');
    height: 500px;
    background-repeat: no-repeat;
}

.button {
    text-decoration: none;
    background-color: royalblue;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.button:hover {
    background-color: #fff;
    color: royalblue;
    border: 1px solid royalblue;
}

.second-section {
    height: 500px;
    margin-top: 10%;
}

.second-left {
    width: 40%;
    float: left;
    margin-left: 10%;
}

.second-right {
    width: 40%;
    float: right;
    margin-right: 10%;
}

.second-right h1 {
    margin-left: 25%;
}

.third-section {
    height: 500px;
    background: red;
    margin-top: 10%;
}

.button-green-inverse {
    background-color: #fff;
    color: #2ECC71;
    border: 1px solid #2ECC71;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-green-inverse:hover {
    background-color: #2ECC71;
    color: #fff;
}

.button-purple-inverse {
    background-color: #fff;
    color: #154360;
    border: 1px solid #154360;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-purple-inverse:hover {
    background-color: #154360;
    color: #fff;
}